{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:@typescript-eslint/recommended",
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true },
    ],
    "no-unused-vars": "warn",
    "prefer-const": "error",
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
  },
}
